## Git Ignore File##
.project
eclipse-workspace/.metadata
eclipse-workspace/.recommenders
.classpath
.settings/
.loadpath
.DS_Store

bin/**
tmp/**
tmp/**/*
*.tmp
*.bakC
local.properties
/src/main/resources/rebel.xml